.project-item {
  height: 267px;
  width: 266px;
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   overflow: hidden;
   justify-content: center;
   
   
   
 
}
     .bgimage{
         background-position: center;
         background-size: cover;
         width: 100%;
         height: 100%;
         opacity: 0.4;
     }
     .bgimage:hover {
         cursor: pointer;
     }
         .bgimage::after .background-image {
           transform: scale(1.1);
           transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
         }
       
         .bgimage::after .content {
           opacity: 0.9;
         }
       
       
   
     
 .content{
   /* height: 40px; */
  padding: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
           opacity: 0.9;
         position: absolute;
       }

.flippy-front {
 background: rgb(153,139,255) !important;
background: linear-gradient(90deg, rgba(153,139,255,1) 0%, rgba(72,85,249,1) 100%, rgba(0,212,255,1) 100%) !important;
  margin: 20px;
}
      
 .back{
   overflow: hidden;
   justify-content: center;
 }
   
   
 .title {
         font-weight: bold;
         margin-bottom: 6px;
         font-size: 17px;
         color: #ffffff;
       }
